/*  your css code here. If applicable */
header{
	background-color:#011e29;
	color:white;
	text-align:center;
	padding:10px;
}
.latest-news-section,.pictorial-news-section,.Main-Article{
	background-color:grey;
	display:inline-block;
	border-radius:10px;
	text-align:center;
	padding:5px;
	color:black;
	width:30%;
	margin:10px;
}